name = "api"
compatibility_date = "2024-08-07"

[env.dev]
name = "api"
kv_namespaces = [
    { binding = "KV", id = "YOUR KV ID" }
]

[env.dev.vars]
ENVIRONMENT = "development"
TURSO_DATABASE_URL = "libsql://YOUR TURSO DATABASE URL"
TURSO_AUTH_TOKEN = "YOUR TURSO AUTH TOKEN"
CLERK_SECRET_KEY = "sk_test_YOUR CLERK SECRET KEY"
CLERK_PUBLISHABLE_KEY = "pk_test_YOUR CLERK PUBLISHABLE KEY"

[env.production]
name = "api"
kv_namespaces = [
    { binding = "KV", id = "YOUR KV ID" }
]

[env.production.vars]
ENVIRONMENT = "production"
TURSO_DATABASE_URL = "libsql://YOUR TURSO DATABASE URL"
TURSO_AUTH_TOKEN = "YOUR TURSO AUTH TOKEN"
CLERK_SECRET_KEY = "sk_test_YOUR CLERK SECRET KEY"
CLERK_PUBLISHABLE_KEY = "pk_test_YOUR CLERK PUBLISHABLE KEY"
TRPC_URL = "https://your.api.production.link/trpc"